
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">What is AndroidSchool?</h3>
            <p> 
            AndroidSchool is an online platform to get started with android development. We provide interactive android tutorials which help you learn how to create android apps. A number of coding exercises which gradually help you understand and build real world apps.
            </p>
            <p>
              We are still building the platform.
              Subscribe and we will let you know when we launch. <br/>
              <a href="" target="_blank">Subscribe</a>
            </p>
            </p>

          </div> <!-- /col-md-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">Android School</h3>
              <ul>
                <li>gaurav@androidschool.io</li>
              </ul>
              <a href="" target="_blank">Subscribe and get a free Ebook</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

